:root {
    --sidebar-width: 16rem;
    --header-height: 4rem;
    --box-shadow: 0 0.25rem 0.5rem 0 rgba(59, 63, 73, 0.15);
    --background-color: #f6f7f6;

    /* override css variables */
    --va-select-dropdown-background: var(--background-color) !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    line-height: 1.6;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

a,
a:visited {
    color: var(--va-primary);
}
